{% extends "base.html" %}
{% block content %}
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-16 space-y-16">
    <!-- Hero Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
      <div>
        <h1 class="text-4xl md:text-5xl font-bold tracking-tight">Килиманджаро</h1>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
          Наконец мы выходим на самую большую высоту африканского континента. Легендарная гора, которую называют «крышей Африки», находится на территории северной Танзании, у самой границы с Кенией. Килиманджаро — самая известная африканская гора, куда ежегодно приезжает несколько десятков тысяч туристов, чтобы увидеть возвышающуюся над равнинами снежную вершину или даже взойти на ее пик.
          Высота: 5895 метров
        <a href="https://altezzatravel.ru/articles/10-highest-mountains-in-africa" class="mt-6 inline-block px-6 py-3 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition">
          Подробнее о Килиманджаро  →
        </a>
      </div>
      <div class="relative">
        <img src="https://altezzatravel.com/upload/medialibrary/d29/0sk8l0vcajee89ubyrny701o33xnlybt.webp"
             class="rounded-2xl shadow-xl w-full object-cover" alt="Company team" />
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-tr from-blue-600/30 to-indigo-600/10 rounded-2xl"></div>
      </div>
    </div>
  
    <!-- Company Stats -->
    <div class="grid grid-cols-2 sm:grid-cols-4 text-center gap-6 bg-gray-100 dark:bg-gray-800 p-8 rounded-2xl shadow-md">
      <div>
        <dt class="text-lg font-medium">сред. температура</dt>
        <dd class="mt-1 text-2xl font-bold">15 до 25 С</dd>
      </div>
      <div>
        <dt class="text-lg font-medium">сложность</dt>
        <dd class="mt-1 text-2xl font-bold">  золотая середина
        </dd>
      </div>
      <div>
        <dt class="text-lg font-medium">местность</dt>
        <dd class="mt-1 text-2xl font-bold">Африкано</dd>
      </div>
      <div>
        <dt class="text-lg font-medium">время восхождения</dt>
        <dd class="mt-1 text-2xl font-bold">5-10</dd>
      </div>
    </div>
  
  </section>
  

{% endblock %}